.LiveTable, .table1Live, .ScorersLive{
  width: 90%;
  margin-bottom: 1%;
  margin-top: 3%;
  text-align: center;
  column-gap: 2rem;
  table-layout: fixed;
margin-left: 5%;
  border: 5px solid black;
    
    }
    .LiveTable td,th, .table1Live td,th, .ScorersLive td,th{
      font-size: 1.8vh;
        height: 3em;
        padding: 1px 1px;
        text-align: center;
        vertical-align: top;
        font-weight: bolder;
        
    }
    .LiveTable tbody tr:nth-child(even) td, .table1Live tbody tr:nth-child(even) td, .ScorersLive tbody tr:nth-child(even) td{
      color: white;
      font-size:1.8vh;
      text-shadow: 2px 2px 2px black;
      background-color: rgba(202, 202, 202, 0.705)
    }
    .LiveTable tbody tr:nth-child(odd) td, .table1Live tbody tr:nth-child(odd) td, .ScorersLive tbody tr:nth-child(odd) td{
          color: white;
        font-size:1.8vh;
        text-shadow: 2px 2px 2px black;
        background-color: rgba(255, 255, 255, 0.8); 
    }
    .tablehead{
      background-image: linear-gradient(180deg, rgb(0, 73, 39), white);
        color: white;
        text-shadow: 2px 2px 2px black;
          
    }
    .LiveTable tbody tr:hover td, .table1Live tbody tr:hover td, .ScorersLive tbody tr:hover td{
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }
    
    @media 
    only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px)  {
      table, thead, tbody, th, td, tr { 
        display: block; 
      }
      
      thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
      
      tr { border: 1px solid #ccc; }
      
      td { 
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 80%; 
        font-size: 1vw;
        text-align: right;
      }
      
      td:before { 
        position: absolute;
        top: 0px;
        left: 0px;
        width: 35%; 
        padding-left: 5%; 
        padding-top: 5%;
        white-space: nowrap;
      }
      .LiveTable tbody tr:nth-child(even) td, .table1Live tbody tr:nth-child(even) td, .ScorersLive tbody tr:nth-child(even) td{
        padding-left: 30%;
        padding-top: 5%;
        font-size:1.3vh;
      }
      .LiveTable tbody tr:nth-child(odd) td, .table1Live tbody tr:nth-child(odd) td, .ScorersLive tbody tr:nth-child(odd) td{
        padding-left: 30%;
         padding-top: 5%;
         font-size:1.3vh;
      }
      .LiveTable tbody tr:hover td, .table1Live tbody tr:hover td, .ScorersLive tbody tr:hover td{
        border-top: 0.5px solid black;
        border-bottom: 0.5px solid black;
    }
      td:nth-of-type(1):before { content: "Pozycja: "; }
      td:nth-of-type(2):before { content: "Nazwa: "; }
      td:nth-of-type(3):before { content: "Gole zyskane: "; }
      td:nth-of-type(4):before { content: "Gole stracone: "; }
      td:nth-of-type(5):before { content: "Rezultat bramek: "; }
      td:nth-of-type(6):before { content: "Gole strzelone dom: "; }
      td:nth-of-type(7):before { content: "Gole stracone dom: "; }
      td:nth-of-type(8):before { content: "Gole strzelone wyjazd: "; }
      td:nth-of-type(9):before { content: "Gole stracone wyjazd: "; }
      td:nth-of-type(10):before { content: "Punkty: "; }

      .table1Live td:nth-of-type(1):before { content: "Pozycja: "; }
      .table1Live td:nth-of-type(2):before { content: "Nazwa: "; }
      .table1Live td:nth-of-type(3):before { content: "Mecze: "; }
      .table1Live td:nth-of-type(4):before { content: "Zwycięstwa: "; }
      .table1Live td:nth-of-type(5):before { content: "Remisy: "; }
      .table1Live td:nth-of-type(6):before { content: "Porażki: "; }
      .table1Live td:nth-of-type(7):before { content: "Punkty: "; }

      .ScorersLive td:nth-of-type(1):before { content: "Pozycja: "; }
      .ScorersLive td:nth-of-type(2):before { content: "Imie: "; }
      .ScorersLive td:nth-of-type(3):before { content: "Nazwisko: "; }
      .ScorersLive td:nth-of-type(4):before { content: "Zespół: "; }
      .ScorersLive td:nth-of-type(5):before { content: "Minuty: "; }
      .ScorersLive td:nth-of-type(6):before { content: "Strzały: "; }
      .ScorersLive td:nth-of-type(7):before { content: "Rzuty karne: "; }
      .ScorersLive td:nth-of-type(8):before { content: "Bramki: "; }
    }