.Ikona2{
    width: 28vh;
    margin-top: 5%;
    margin-bottom: -5%;
}
.sezon{
    font-size: 2vh;
    margin-bottom: -2%;
}
.loading{
    font-size: 4vw;
    text-align: center;
    margin-top: 20rem;
    color: white;
}